main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main>div{
    border: 1px solid lightgray;
}

main .input-form-div{
    display: flex;
    flex-direction: column;
}

main .input-form-div input+label{
    margin-top: 10px;
}

main .input-form-div h3{
    margin-top: 30px;
}